<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pbs.tvshows">

  <application
      android:name=".MainApplication"
      android:allowBackup="false"
      android:banner="@drawable/tv_logo"
      android:icon="@drawable/tv_icon"
      android:label="@string/app_name"
      android:logo="@drawable/tv_logo"
      android:roundIcon="@drawable/tv_icon"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true">
    <activity
        android:name=".MainActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <!-- Needed to properly create a launch intent when running on Android TV -->
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
  </application>

  <uses-feature
      android:name="android.hardware.touchscreen"
      android:required="false" />
  <uses-feature
      android:name="android.software.leanback"
      android:required="false" />

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>
